{
	"presets": ["react-native"],
	"plugins": [
		[
			"babel-plugin-relative-path-import",
			[
				{
					"rootPathPrefix": "@",
					"rootPathSuffix": "src"
				},
        {
          "rootPathPrefix": "@Components",
					"rootPathSuffix": "src/Components"
        },
				{
					"rootPathPrefix": "@Network",
					"rootPathSuffix": "src/Network"
				},
        {
					"rootPathPrefix": "@actions",
					"rootPathSuffix": "src/redux/actions"
				},
        {
					"rootPathPrefix": "@reducers",
					"rootPathSuffix": "src/redux/reducers"
				},
        {
					"rootPathPrefix": "@saga",
					"rootPathSuffix": "src/redux/sagas"
				},
        {
         "rootPathPrefix": "@store",
         "rootPathSuffix": "src/redux/store"
       },
       {
         "rootPathPrefix": "@images",
         "rootPathSuffix": "src/images"
       },
			]
		]
	]
}
